%h2 Database values

%table
  %tr
    %th Property
    %th Value
    %th
    %th
    %th

  - @values.each do |value|
    %tr
      %td
        - if value.property.nil?
          .label.label-danger Value #{value.id} without property
        - else
          = value.property.name
        %br

      
      %td= value.value
      %td= link_to 'Show', value
      %td= link_to 'Edit', edit_value_path(value)
      %td= link_to 'Destroy', value, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New value', new_value_path
