- @result.each do |result|
  - source = result[ES_SOURCE] || {}
  - props = source[ES_PROPERTIES] || {}
  .product
    .pull-right
      .label.label-primary= result[ES_ID]
      .label.label-default= result[ES_SCORE]
    %b= source['title']
    %br
    %i= source['description']
    %br

    .properties
      - props.each do |key, val|
        %b=key
        = truncate(val.to_s, length: 30, omission: '...')
        %br
