%h2 Database products

%table
  %tr
    %th ID
    %th Sku
    %th{width: 150} Title
    %th{width: 200} Description
    %th{width: 450} PROPS
    %th Sync
    %th
    %th
    %th

  - @products.each do |product|
    - vdb = product.updated_at.to_i
    - ves = product.es_fetch_stamp
    %tr
      %td= product.id
      %td= product.sku
      %td= product.title
      %td
        %small= truncate(product.description, length: 35, omission: ' [...]')
      %td
        %small
          - product.values.each do |pv|
            - if pv.property.nil?
              .label.label-danger Value without property: #{pv.id}
            - else
              %strong= pv.property.name
              = pv.value
            %br
      %td
        - if (vdb == ves)
          .label.label-success= "OK"
          = vdb
        - else 
          .label.label-warning= "Out of sync"
          %br
          = "vdb:#{vdb}"
          %br
          = "ves:#{ves}"

      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Product', new_product_path


