%h2 Database products

%table
  %tr
    %th ID
    %th Sku
    %th{width: 150} Title
    %th{width: 200} Description
    %th{width: 450} PROPS
    %th Sync
    %th
    %th
    %th

  - @products.each do |product|
    - vdb = product.updated_at.to_i
    - ves = @es_products[product.id][ES_STAMP]
    %tr
      %td= product.id
      %td= product.sku
      %td= product.title
      %td
        %small= truncate(product.description, length: 35, omission: ' [...]')
      %td
        %small
          - product.product_properties.each do |pp|
            -# if pv.property.nil?
            -#.label.label-warning Value #{pv.id} without property
            -# else
            %b= pp.property.name
            - if pp.value.nil?
              %u= pp.other
            - else
              = pp.value.value

            &nbsp;
      %td
        - if (vdb == ves)
          .label.label-success= "OK"
          = vdb
        - else 
          .label.label-warning= "Out of sync"
          %br
          = "vdb:#{vdb}"
          %br
          = "ves:#{ves}"

      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Product', new_product_path


