%h2 Database products

%table
  %tr
    %th ID
    %th Sku
    %th Title
    %th Description
    %th Visibility
    %th PROPS
    %th Sync
    %th
    %th
    %th

  - @products.each do |product|
    - vdb = product.updated_at.to_i
    - ves = product.es_fetch_stamp
    %tr
      %td= product.id
      %td= product.sku
      %td= product.title
      %td= product.description
      %td= product.visibility
      %td
        - product.values.each do |pv|
          = pv.property.name
          %strong= pv.value
          %br
      %td
        - if (vdb == ves)
          .label.label-success= "OK"
          = vdb
        - else 
          .label.label-warning= "Out of sync"
          %br
          = "vdb:#{vdb}"
          %br
          = "ves:#{ves}"

      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Product', new_product_path


%h2 ElasticSearch items


%table
  %tr
    %th ID
    %th TYPE
    %th SCORE
    - @keys.each do |key|
      %th= key

  - @result.each do |result|
    %tr
      %td
        %b= result[ES_ID]
      %td
        %b= result[ES_TYPE]
      %td
        %b= result[ES_SCORE]
      - @keys.each do |key|
        %td
          = result[ES_SOURCE][key]
