!!! 5
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title Elastic
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application.js"

  %body

    .topbar
      %h1 ElasticSearch sandbox

      .row
        .col-md-2
          Database
          %br
          .btn-group
            = link_to 'products', products_path, class: 'btn btn-default'
            = link_to 'properties', properties_path, class: 'btn btn-default'
            = link_to 'values', values_path, class: 'btn btn-default'

        .col-md-3
          Catalog
          %br
          .btn-group
            = link_to 'browse', browse_catalog_path, class: 'btn btn-default'
            = link_to 'list', list_catalog_path, class: 'btn btn-default'
            = link_to 'rebuild-each', rebuild_each_path, class: 'btn btn-default'
            = link_to 'rebuild-bulk', rebuild_path, class: 'btn btn-default'

        .col-md-7
          - flash.each do |type, message|
            .flash{ class: type }
              %strong= type.upcase
              %p= message

    .content
      = yield
