!!! 5
%html{:lang => "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %title Elastic
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application.js"

  %body

    .well
      %h1 ElasticSearch sandbox

      .row
        .col-md-3
          %b database
          = link_to 'products', products_path
          = link_to 'properties', properties_path
          = link_to 'values', values_path

        .col-md-3
          %b catalog
          = link_to 'browse', browse_catalog_path
          = link_to 'list', list_catalog_path
          = link_to 'rebuild', rebuild_catalog_path

        .col-md-6
          - flash.each do |type, message|
            .flash{ class: type }
              %strong= type.upcase
              %p= message

    .content= yield
